<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="wrapper" id="<f:translate key='tx_cardealer_domain_model_car.{property}' />">

    <h4><f:translate key="tx_cardealer_domain_model_car.{property}" /></h4>

    <button class="form-control toggle-next ellipsis button-control">
            <span>
                <f:translate key="tx_cardealer_domain_model_prependLabel.{property}" />
                ({items.countAll})
            </span>
    </button>


    <div class="tx-cardealer-checkbox-values">

        <div class="scroll-div">
            <label class="count-all">
                <f:form.checkbox value="0"
                                 class="input all"
                                 name="tx_cardealer_pi1[filter][{property}][]" />
                <span><f:translate key="tx_cardealer_domain_model_prependLabel.{property}" /> ({items.countAll})</span>
            </label>
            <f:for each="{items}" as="item" key="key">
                <f:if condition="{item.uid}">
                    <label class="{item.disabled} property_{property}" data-title="{item.title}">
                        <f:form.checkbox value="{item.uid}"
                                         class="input val"
                                         name="tx_cardealer_pi1[filter][{property}][]"
                                         disabled="{item.disabled}"
                                         checked="{f:if(condition: '{item.selected}', then: 'checked')}" />
                        <span>{item.title} ({item.counter})</span>
                    </label>
                </f:if>
            </f:for>
        </div>
    </div>
</div>

</html>