<html data-namespace-typo3-fluid="true"
      xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
{namespace custom=EXOTEC\Cardealer\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">
    <div class="container" id="carDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="back-link">
                    <f:if condition="{args.page}">
                        <f:then>
                            <f:link.action action="list"
                                           arguments="{page:'{args.page}', sortBy:'{args.sortBy}', sortOrder: '{args.sortOrder}', limit: '{args.limit}', identifier:'{identifier}'}"
                                           class="backlink pull-right btn btn-danger"
                                           controller="Standard"
                                           pageUid="{settings.pid.list}">
                                <f:translate key="tx_cardealer_pi1_show.back.label"/>
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action action="list"
                                           arguments="{page: '1', sortBy: 'price', sortOrder: 'ASC', limit: '10', identifier:'4035eff091a9897f0d3a25e6'}"
                                           class="backlink pull-right btn btn-danger"
                                           controller="Standard"
                                           pageUid="{settings.pid.list}">
                                <f:translate key="tx_cardealer_pi1_show.back.label"/>
                            </f:link.action>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 image-container">
                <f:if condition="{car.images.0}">
                    <div class="detail-image-big">
                        <f:for each="{car.images}" as="image" iteration="i">

                            <f:if condition="{i.isFirst}">
                                <f:image alt="{car.modelDescription}" width="960" src="{image.uid}"
                                         treatIdAsReference="1"/>
                            </f:if>

                        </f:for>
                    </div>
                    <div class="slider-thumbnails">

                        <div class="swiper-outer-wrap">

                            <!-- Slider main container -->
                            <div
                                    class="swiper-container content-swiper"
                                    data-animation="slide"
                                    data-animationspeed="1500"
                                    data-direction="horizontal"
                                    data-loop="true"
                                    data-reverse="false"
                                    data-delay="0"
                                    data-swiperid="0"
                                    data-scrollbar="false"
                                    data-freemode="false"
                                    data-slidesperview="6"
                                    data-spacebetween="10"
                                    data-thumbs="0"
                                    data-thumbs-freemode="0"
                                    data-thumbs-slidesperview="0"
                                    data-breakpoint-767="3"
                                    data-breakpoint-1024="4"
                            >
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <f:for each="{car.images}" as="image">

                                        <div class="swiper-slide">

                                            <div class="image-slide-container" data-image="{f:uri.image(src:image.uid, treatIdAsReference:1, width: 960)}">

                                                <f:image alt="{car.modelDescription}" height="128" src="{image.uid}" treatIdAsReference="1"/>

                                            </div>

                                        </div>

                                    </f:for>
                                </div>
                            </div>

                        </div>

                    </div>
                </f:if>
            </div>
            <div class="col-md-4">
                <div class="article-short-description-wrap">
                    <div class="article-short-description">
                        <span class="condition-wrap">
                            <f:for as="value" each="{car.carCondition}" iteration="_iter">
                                <f:if condition="{_iter.isFirst}">
                                    <f:format.raw><span>{value.title}</span></f:format.raw>
                                </f:if>
                            </f:for>
                        </span>
                        <h1 class="detail-headline">
                            <f:for as="value" each="{car.make}" iteration="_iter">
                                <f:if condition="{_iter.isFirst}">
                                    <span class="make-title"><f:format.raw>{value.title}</f:format.raw></span>
                                </f:if>
                            </f:for>
                            <span class="vehicle-title"><f:format.raw>{car.modelDescription}</f:format.raw></span>
                        </h1>
                        <h4 class="price"><f:format.number decimalSeparator="," decimals="0" thousandsSeparator=".">{car.price}</f:format.number>,- EURO</h4>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mwst">
                    <f:if condition="{car.vatable}">
                        <f:then>
                            MWSt. ausweisbar
                        </f:then>
                        <f:else>
                            MWSt. nicht ausweisbar
                        </f:else>
                    </f:if>
                </div>
                <div class="carNumber">Mobile.de Inserat: <span class="carNumberOnly">{car.uid}</span></div>
                <f:if condition="{car.seller_inventory_key}">
                    <div class="carNumberInternal">Interne Nummer: <span class="carNumberInternalOnly">{car.seller_inventory_key}</span></div>
                </f:if>
            </div>
        </div>
        <div class="row fahrzeugdaten">
            <div class="col-md-12">
                <h2>Fahrzeugdaten</h2>
            </div>
            <div class="col-md-6">
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Lieferdatum</span>
                    </div>
                    <div class="spec-right-col">
                        <span><f:format.date format="m/Y">{car.deliveryDate}</f:format.date></span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Erstzulassung</span>
                    </div>
                    <div class="spec-right-col">
                        <span><f:format.date format="m/Y">{car.firstRegistration}</f:format.date></span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Kilometerstand</span>
                    </div>
                    <div class="spec-right-col">
                        <span><f:format.number decimalSeparator="," decimals="0" thousandsSeparator=".">{car.mileage}</f:format.number> km</span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Leistung</span>
                    </div>
                    <div class="spec-right-col">
                        <span>
                            {car.power} kW (
                            <f:format.number decimalSeparator="." decimals="0" thousandsSeparator=",">
                                <f:cObject data="{car.power} * 1.36"
                                           typoscriptObjectPath="plugin.tx_cardealer_pi1.lib.math" />
                            </f:format.number>
                            PS)
                        </span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Kraftstoff</span>
                    </div>
                    <div class="spec-right-col">
                        <span>
                            <f:for as="value" each="{car.fuel}" iteration="_iter">
                                <f:if condition="{_iter.isFirst}">
                                    <f:format.raw>{value.title}<br/></f:format.raw>
                                </f:if>
                            </f:for>
                        </span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Schaltung</span>
                    </div>
                    <div class="spec-right-col">
                        <span>
                            <f:for as="value" each="{car.gearbox}" iteration="_iter">
                                <f:if condition="{_iter.isFirst}">
                                    <f:format.raw>{value.title}<br/></f:format.raw>
                                </f:if>
                            </f:for>
                        </span>
                    </div>
                </div>
                <div class="spec-row">
                    <div class="spec-left-col">
                        <span>Zustand</span>
                    </div>
                    <div class="spec-right-col">
                        <span>
                            <f:format.raw>
                                <f:translate
                                        key="tx_cardealer_domain_model_car.damage.{car.damageunrepaired}.{car.accidentdamaged}.{car.roadworthy}"/>
                            </f:format.raw>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Fahrzeugbeschreibung</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="description col-md-12">
                        <f:format.raw>
                            <custom:description value="{car.description}"/>
                        </f:format.raw>
                    </div>
                </div>
            </div>
        </div>
        <div class="row technische-daten">
            <div class="col-md-12">
                <h2>Weitere technische Daten</h2>
            </div>
            <div class="col-md-6">
                <dl class="spec-row">
                    <f:format.raw>
                        <custom:getspecifics addUid="{car.uid}"/>
                    </f:format.raw>
                </dl>
                <dl class="spec-row">
                    <f:format.raw>
                        <custom:getconsumptions addUid="{car.uid}"/>
                    </f:format.raw>
                </dl>
            </div>
            <div class="col-md-6">
                <f:if condition="{car.efficiencyClass}">
                    <f:then>
                        <b>CO2-Effizienz:</b><br/>
                        <f:image class="effClassImg" maxWidth="300" maxHeight="200"
                                 src="typo3conf/ext/cardealer/Resources/Public/Img/{car.efficiencyClass}.png"
                                 alt="{car.efficiencyClass}" title="{car.efficiencyClass}" />
                        <p>Weitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen
                            spezifischen CO2-Emissionen neuer Personenkraftwagen können dem <a
                                    href="http://www.dat.de/uploads/media/LeitfadenCO2.pdf" target="_blank">"Leitfaden über
                                den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer
                                Personenkraftwagen"</a> entnommen werden, der an allen Verkaufsstellen und bei der Deutschen
                            Automobil Treuhand GmbH (DAT) unentgeltlich erhältlich ist. Die angegebenen Werte wurden nach
                            dem vorgeschriebenen Messverfahren (§ 2 Nrn. 5, 6, 6a Pkw-EnVKV in der jeweils geltenden
                            Fassung) ermittelt. Die Angaben beziehen sich nicht auf ein einzelnes Fahrzeug und sind nicht
                            Bestandteil des Angebots, sondern dienen allein Vergleichszwecken zwischen den verschiedenen
                            Fahrzeugtypen.</p>
                    </f:then>
                </f:if>
            </div>

        </div>

        <div class="row ausstattung">
            <div class="col-md-12">
                <h2>Ausstattung</h2>
            </div>
            <div class="col-md-3">
                <strong>Innenausstattung</strong>
                <ul>
                    <f:format.raw>
                        <custom:getinteriordata addUid="{car.uid}"/>
                    </f:format.raw>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Außenausstattung</strong>
                <ul>
                    <f:format.raw>
                        <custom:getexteriordata addUid="{car.uid}"/>
                    </f:format.raw>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Extras</strong>
                <ul>
                    <f:format.raw>
                        <custom:getextradata addUid="{car.uid}"/>
                    </f:format.raw>
                </ul>
            </div>
            <div class="col-md-3">
                <strong>Sicherheit und Umwelt</strong>
                <ul>
                    <f:format.raw>
                        <custom:getsecurityenvironment addUid="{car.uid}"/>
                    </f:format.raw>
                </ul>
            </div>
        </div>

    </div>

</f:section>

</html>