@charset "UTF-8";

@import "Plugin/filter";
@import "Plugin/list";
@import "Plugin/detail";

body.no-scroll {
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.tx-cardealer .loading {
  text-align: center;
}
.tx-cardealer .dimmed {
  opacity: 0.5;
  position: relative;
  z-index: 99;
}
.tx-cardealer {
  ul.paginator {
    margin: 20px 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    li {
      display: inline-block;
      padding: 1px;
    }
  }
}
.firstOption {
  display: none !important;
}
.multiselect-native-select {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
.multiselect-native-select .dropdown-menu {
  min-width: 100%;
}
.sorting_field .multiselect-native-select {
  margin-bottom: 0;
}
/**
rework
 */
.tx-cardealer-checkbox-values {
  label {
    display: block;
  }
}
